@model LatestProductsBlock

<section class="section" id="men">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h2>@Html.PropertyFor(m=>m.Heading)</h2>
                    <span>Details to details is what makes Hexashop different from the other themes.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="men-item-carousel">
                    <div class="owl-men-item owl-carousel">
                        @Html.PropertyFor(m => m.Products, new { HasContainer = false, HasChildrenContainer = false })
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

