@model IPageViewModel<SitePageData>
<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="/" class="logo">
                        <img src="@Url.ContentUrl(Model.Layout.LogoUrl)">
                        
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        @if(Model.Layout.MenuItems?.Count>0)
                        {
                            foreach (var item in Model.Layout.MenuItems)
                            {
                                <li class="scroll-to-section"><a href="@Url.ContentUrl(item.Href)" target="@item.Target" class="active">@item.Text</a></li>
                            }
                        }
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->